/* Light Theme Colors */
.light-theme {
  --background-color: #ffffff;
  --text-color: #333333;
  --secondary-color: #6c757d;
  --bg: white;
  --logo: darkblue;
  --bgSoft: #f6f3f3;
  --textColorSoft: #aba8a8;
}

/* Dark Theme Colors */
.dark-theme {
  --background-color: #333333;
  --text-color: #ffffff;
  --primary-color: #eceef0;
  --bg: #222;
  --logo: white;
  --bgSoft: #333;

}
